.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    /* transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); */
    opacity: 1;
    visibility: visible;
}

.loader-bg {
    height: 100vh;
    background: #e3ae67;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}

.loader-logo-wrapper {
    height: 100%;
    display: table;
    width: 100%;
}

.loader-logo {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loader-logo svg {
    width: 30%;
    height: 30%;
}

.loader-logo svg rect {
    fill: white;
}

.loader-wrapper.show-from-left {
	left: 0;
	width: 100%;
}

.loader-wrapper.hide-to-right {
    right: 0;
    width: 0%;
    left: auto;
}

.hide-to-right .loader-bg {
    left: auto;
    right: 0;
}

.loader-wrapper.hide {
    opacity: 0;
    visibility: hidden;
}

.loader-wrapper.anim {
    transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
}

.header .swiper-button-next {
    /* opacity: 0; */
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.swiper-button-next.fadeInRight {
    -webkit-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.intro-slide-content {
    /* padding-bottom: 10px; */
    top: 50%;
    margin-top: 9.8vw;
    padding-left: 7%;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.intro-active .intro-slide__bg img {
}

.intro-slide__bg img {
}

img.wait-for-load {
}

.intro-slide.swiper-slide-active.intro-active .intro-slide__overlay {
    opacity: 1 !important;
}

.intro-slide.swiper-slide-active .intro-slide__overlay {
    opacity: 0 !important;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.intro-slide.swiper-slide-active .intro-slide-content__wrapper {
    opacity: 0;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
}

.home-loader path {
    opacity: 0;
    transition: all 1.5s;
}

.home-loader .logo-anim-1 {
    /*opacity: 0.2;*/
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.home-loader .logo-anim-2 {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.home-loader .logo-anim-3 {
    /*opacity: 0.3;*/
    -webkit-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

.home-loader .logo-anim-4 {
    /*opacity: 0.4;*/
    -webkit-transition-delay: 1.25s;
    transition-delay: 1.25s;
}

.home-loader .logo-anim-5 {
    -webkit-transition-delay:0.8s;
    transition-delay: 0.8s;
}

.home-loader .logo-anim-6 {
    /*opacity: 0.6;*/
    -webkit-transition-delay: 1.6s;
    transition-delay: 0.6s;
}

.home-loader .logo-anim-7 {
    /*opacity: 0.1;*/
    -webkit-transition-delay: 1.0s;
    transition-delay: 1.0s;
}

.home-loader .logo-anim-8 {
    /*opacity: 0.1;*/
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.home-loader .logo-anim-9 {
    /*opacity: 0.1;*/
    -webkit-transition-delay: 1.3s;
    transition-delay: 0.3s;
}
.home-loader .logo-anim-10 {
    /*opacity: 0.1;*/
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.home-loader .logo-anim-11 {
    /*opacity: 0.1;*/
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.home-loader.active path {
    opacity: 1;
}

.intro-slide__overlay {
    -webkit-transition: all .75s;
    transition: all .75s;
}

.intro-slide.swiper-slide-active.intro-active .intro-slide-content__wrapper {
    -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.header .social-icons {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.top-bar {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

html, body {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
}

div#container {
    /* position: fixed; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
}

.scrollbar-track.scrollbar-track-y {
    display: none;
}

.scrollbar-track {
    display: none !important;
}

.intro-slide.swiper-slide-active.intro-active .intro-slide-content__wrapper {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    /* padding-bottom: 20px; */
}

.swiper-from-right {
    visibility: visible !important;
    opacity: 1 !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
    transition: opacity 0.8s ease-out 0s, transform 0.6s cubic-bezier(0, 0, 0.01, 0.93) 0s !important;
}

.swiper-from-left {
    visibility: visible !important;
    opacity: 1 !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)  !important;
    transition: opacity 0.8s ease-out 0s, transform 0.6s cubic-bezier(0, 0, 0.01, 0.93) 0s !important;
}

.item.pertners-logos-active {
    visibility: visible !important;
    opacity: 1 !important;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.25s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0.25s !important;
}

.partners .pertners-logos .item a {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.partners .pertners-logos .item {
    height: 90px;
    margin-bottom: 90px;
}

.partners .max-width-2 {
    max-width: 590px;
}

.team .back-num {
    top: 260px;
    right: 0;
}

.reviews .title-links.d-flex .back-num {
    position: relative;
    top: 180px;
}

.lead-diary .title-links.d-flex .back-num {
    position: relative;
    top: 160px;
}

.photo-video .title-links.d-flex .back-num {
    position: relative;
    top: 250px;
}

.partners .back-num {margin-top: 390px;}

.about:after {
    background: none;
}

.about-map {
    background-image: url(../images/map3.jpg);
    position: absolute;
    right: -140px;
    width: 100%;
    height: 1320px;
    z-index: 0;
    top: -40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.box-about.max-width {
    position: relative;
    z-index: 1;
}

section#block-about {
    overflow: visible;
}

.header .fly-nav {
    /* position: static !important; */
}

.top-bar.fadeInDown {
    animation: fadeInDown 1s;
    /* animation-delay: 5s; */
    animation-fill-mode: forwards;
}

.top-bar nav {
    right: -100%;
    -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 9;
}

.top-bar nav.active-nav {
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.top-bar.fixed {
    width: 100% !important;
    z-index: 9999999999 !important;
    background-color: #222222;
    -webkit-box-shadow: 0 0.35714rem 1.07143rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.35714rem 1.07143rem rgba(0, 0, 0, 0.5);
}

.top-bar.fixed .d-flex.max-width {
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-bar .d-flex.max-width {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 10;
}

.top-bar rect#icon-gradient {
    fill: white;
    opacity: 1;
}

.top-bar rect#icon-gradient:hover {
    fill: url(#gradient);
}

.aboutCarousel .text {
    width: 304px;
    margin-top: 124px;
    font-size: 15px;
}

.swiper-slide .text p {
    margin-bottom: 14px;
    font-family: "Open Sans", sans-serif;
    color: #000;
    line-height: 120%;
}

.about .bookmarks ul li.active:before {
    content: '';
    position: absolute;
    width: 5000px;
    left: -5015px;
    height: 1px;
    background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
    background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-animation-name: animLine;
    animation-name: animLine;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.about .bookmarks ul li.swiper-pagination-bullet-active {
    background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
    background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.team .item p:first-child {
    color: #686868;
    text-transform: uppercase;
}

.team .item p {
    margin-bottom: 27px;
    font-family: "Open Sans", sans-serif;
    color: #000;
    line-height: 120%;
}

.team .item .text b {
    color: #000;
    margin-right: 10px;
    font-weight: bold;
}

.team .bookmarks ul li.swiper-pagination-bullet-active {
    background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
    background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.team .bookmarks ul li.swiper-pagination-bullet-active:before {
    content: '';
    position: absolute;
    width: 5000px;
    right: -5015px;
    height: 1px;
    background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
    background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-animation-name: animLine;
    animation-name: animLine;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.about .swiper-container.sec {visibility: visible;opacity: 0;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 367.5, 0, 0, 1);}

.team .swiper-container.team-carous {visibility: visible;opacity: 0;transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -318, 0, 0, 1);}

.reviews .swiper-container {
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 425, 0, 0, 1);
}

.partners .pertners-logos .item {
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25, 0, 1);
}

section#block-map {
    padding: 300px 0 0 0;
    position: relative;
    height: calc(100vh + 0px);
    /* display: none; */
    overflow: hidden;
}

.map-section .title-links.d-flex.max-width {}

.map-section .title-section.d-flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 25px;
}

.map-section .num {
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
    background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
    font-family: "Yeseva One", cursive;
    color: #fff;
    font-size: 20px;
    position: relative;
    padding: 5px;
}

.map-section h2 {
    font-size: 45px;
    font-weight: normal;
    font-family: "Yeseva One", cursive;
    margin-left: 25px;
    text-transform: uppercase;
}

.map-links {
    margin-top: 108px;
    width: 25%;
    margin-right: 70px;
    position: relative;
    z-index: 1;
}

.map-links a {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    line-height: 160.86%;
    color: #727272;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.map-links a.active {
    background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
    background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.map-links a.active:before {
    content: '';
    position: absolute;
    width: 5000px;
    left: -5015px;
    height: 1px;
    background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
    background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-animation-name: animLine;
    animation-name: animLine;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.map-section .back-num {
    position: absolute;
    margin-top: 130px;
    margin-left: -150px;
    z-index: 0;
}

.map-wrapper-header-item {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 120%;
}

.map-wrapper-header-item.map-wrapper-header-item-2 {
    margin: 0 4%;
}

.map-example-point {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.map-wrapper-header {
    padding: 40px 0;
}

div#map-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 450px;
    width: 1362px;
    height: 969px;
    right: -20px;
}

.jvectormap-zoomin {
    display: none;
}

.jvectormap-zoomout {
    display: none;
}

div#map-wrapper svg {
    /* width: 1379px; */
    /* height: 967px; */
    /* position: absolute; */
    /* right: 0; */
    transform: scale(1.2, 1);
    /* width: 1494px; */
    /* height: 969px; */
}

path.jvectormap-region.jvectormap-element:hover {
    fill: black;
}

path.jvectormap-region.jvectormap-element {-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;fill-opacity: 1;}

.photo-video .slider-for2 .slick-slide img {
    height: 688px;
}

.photo-video .box-photo-video.max-width {
    height: 75%;
}

.photo-video .photo-video-carousel {height: 100%;}

.slick-slider {
    height: 100%;
}

.slick-list {
    height: 100%;
}

.block-fency-items {
    position: relative;
    width: 298px;
    /* height: 400px; */
    z-index: 10;
}

.event-type-event {}

.block-fency {
    width: 100%;
    height: 400px;
    position: absolute;
    margin-top: 40px;
    left: -500px;
    opacity: 0;
    transition: opacity 0.8s ease-out 0s, left 0.6s cubic-bezier(0, 0, 0.01, 0.93) 0s !important;
}

.section-fency {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iportant-text {font-family: Open Sans;font-style: normal;font-weight: normal;font-size: 15px;line-height: 110%;color: #000000;}

.scroll-block-fancy {}

.close__button.close-button-fancy {
    display: block;
    height: 31px;
    width: 31px;
    position: relative;
    cursor: pointer;
}

.close__button span {
    position: absolute;
    margin: 0px auto;
    top: calc(145% - 31px);
}

.close__button span:nth-child(2) {
    display: block;
    height: 4px;
    width: 31px;
    background-color: #E3AE67;
    transform: rotate(-45deg);
}

.close__button span:nth-child(1) {
    display: block;
    height: 4px;
    width: 31px;
    background-color: #E3AE67;
    transform: rotate(45deg);
}

p.country-name {
    color: #000000;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    cursor: pointer;
}

.fency-nomber {
    width: 153px;
    height: 84px;
    background-color: #E3AE67;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.18);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 160.86%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.scroll-block-fancy {
    height: 210px;
    width: 95%;
    position: relative;
}

.scroll-block-fancy p {
    margin-bottom: 14px;
    margin-left: 23px;
    position: relative;
    z-index: 7;
}

a.scroll-links {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-size: 15px;
    line-height: 110%;
    transition: 0.5s;
    color: #000000;
}

.block-fency.active {
    opacity: 1;
    left: 0;
}
.close__button span:nth-child(1) {
}


path.jvectormap-region.jvectormap-element.hover {
    fill: black;
}

.jvectormap-marker circle:first-child {
    r: 9;
    fill: rgb(218, 184, 76);
    stroke: #ffffff00;
}

.jvectormap-marker circle:last-child {
    r: 15.5;
    stroke: rgb(218, 184, 76);
    fill: none;
}

.jvectormap-marker:hover circle:first-child, .jvectormap-marker.hover circle:first-child {
    fill: rgb(255, 255, 255);
}

.jvectormap-marker:hover circle:last-child, .jvectormap-marker.hover circle:last-child {
    stroke: rgb(255, 255, 255);
}

.jvectormap-marker circle {
    transition: 0.5s;
}

g.jvectormap-marker.jvectormap-element {
    cursor: pointer;
}

path.jvectormap-region.jvectormap-element {
    fill: #e2e2e2;
}

a.scroll-links:hover {
    color: #e3ae67;
}

.map-main-wrapper {
    z-index: 1;
    position: relative;
}

.map-section-box.max-width {
    position: relative;
    z-index: 1;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0;
    margin-left: 30px;
}

.mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    right: auto;
    left: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(227, 174, 103) !important;
}

.scroll-block-opacity {
    box-shadow: #ffffff 0 0 70px 50px;
    position: absolute;
    z-index: 10;
    width: 100%;
    transition: 0.5s;
}

.mCS_no_scrollbar a.scroll-links {
}

.mCS_no_scrollbar .scroll-block-opacity {
    opacity: 0;
}

.jvectormap-container {
    /* width: 1494px; */
    /* height: 969px; */
}

.about .bookmarks {
    margin-top: 119px;
}

.about .bookmarks ul li.swiper-pagination-bullet-active:before {content: " ";position: absolute;width: 5000px;left: -5015px;height: 1px;background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);top: 50%;-webkit-transform: translate(0%, -50%);transform: translate(0%, -50%);-webkit-animation-name: animLine;animation-name: animLine;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}

.team .title-section {
    margin-left: 9px;
}

.photo-video .title-links.d-flex {
    height: 160px;
}

.photo-video .bd {
    height: calc(100vh - 200px);
}

.photo-video .slider-nav {
    height: 25%;
}

.slick-track {
    height: 100%;
}

.photo-video .photo-video-carousel .slider-for .slick-slide {
    height: 100%;
}

.photo-video .slider-nav .slick-slide.slick-active img {
    opacity: 0.5;
}

.photo-video .slider-nav .slick-slide.slick-current img {
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.photo-video .slider-for2 .slick-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-video .slider-for2 .slick-slide {
    height: 100%;
}

.slider-nav2.photo-carousel.slick-initialized.slick-slider {
    height: 25%;
}

.photo-video .slider-nav2 .slick-slide.slick-active img {
    opacity: 0.5;
}

.photo-video .slider-nav2 .slick-slide.slick-current img {
    opacity: 1;
}

.intro-slide-content__subtitle {
    font-size: 25px;
}

.intro-slide-content__title {
    font-size: 50px;
    line-height: 60px;
}

a.btn.header-popup-btn {
    text-transform: uppercase;
    text-align: center;
    /* margin-top: 25px; */
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 120%;
    border: 1px solid #E3AE67;
    font-family: "Open Sans", sans-serif;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 15px 38px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    font-weight: 500;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    background: none;
    /* margin-bottom: 12px; */
    /* margin-left: 5px; */
}

.btn-header-wrapper {
    position: absolute;
    bottom: 16%;
    z-index: 10;
    left: 50%;
}

a.btn.header-popup-btn:hover {
    background: #F4BD73;
    color: #1E1E1E;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-color: transparent;
}

.form-popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 9;
}

.form-popup.active {
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.active-popup a.btn.header-popup-btn {
    opacity: 0;
}

.active-popup .swiper-button-prev {
    opacity: 0;
}

.active-popup .swiper-button-next {
    opacity: 0;
}

.active-popup .intro-slide-content {
    opacity: 0;
}

.swiper-button-prev {
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.hide-loading {
    opacity: 0;
}

.swiper-button-next {}

.not-home-animation path {
    opacity: 1 !important;
}

.current_page_item a {
    color: #E3AE67 !important;
}

#menu-header li:after {
    content: " ";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    color: #E3AE67;
    font-size: 22px;
    cursor: pointer;
    opacity: 0;
    background: url(../images/Vector.png);
    left: 16%;
    opacity: 0;
    width: 29px;
    height: 20px;
    /* transition: 0.5s; */
}

#menu-header li:hover:after {
    left: 50%;
    opacity: 1;
    transition: 0.5s;
}

.fancybox-slide {
    padding: 0;
}

.fancybox-content {
    height: calc(100% - 100px);
    width: 100%;
    vertical-align: bottom;
}

.fancybox-container {
    /* z-index: 99999999999; */
}