.intro {
  &-slider {
    object-fit: cover;
    width: 100%;
    height: 100%;
    &-pagination__item {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-weight: 600;
      margin-left: 10px;
      cursor: pointer;
      color: #f5f5f5;
      &:last-of-type {
        margin-right: 8px;
      }
    }
  }
  &-slide {
    position: relative;
    opacity: 0;
    &.swiper-slide-active {
      opacity: 1;
    }
    &__bg {
      z-index: 2;
      position: relative;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        display: block;
        width: 100%;
        object-fit: cover;
        min-height: 100%;
      }
    }
    &__overlay {
      z-index: 4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .75s;
      transition-delay: 2s;
      opacity: 0;
      img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        display: block;
        width: 100%;
        object-fit: cover;
        min-height: 100%;        
      }
    }
    &-content {
      z-index: 3;
      position: absolute;
      /* left: 39.7%; */
      left: 34.7%;
      padding-left: 5%;
      /* bottom: 11%; */
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 12.5vw;
      color: #fff;
      text-align: left;
      font-family: 'Yeseva One';
      overflow: hidden;
      &__wrapper {
        transform: translateX(-120%);
        transition-delay: 2s;
        opacity: 0;
      }
      &__subtitle {
        padding-left: 75px;
        /*font-size: 34px;*/
        font-size: 1.77vw;
      }
      &__title {
        margin-top: 21px;
        /*max-width: 630px;*/
        max-width: 32.8125vw;
        /*font-size: 70px;*/
        font-size: 3.646vw;
      }
    }

    &.swiper-slide-active &__overlay {
      opacity: 1;
    }
    &.swiper-slide-active &-content {
    }
    &.swiper-slide-active &-content__wrapper {
      opacity: 1;
      transition: 1s;
      transition-delay: 2.75s;
      transform: none;
    }
  }
}