$primary_color: #E3AE67;

$font_roboto: 'Roboto', Arial, Helvetica,
sans-serif;

$font_open_sans: 'Open Sans',
sans-serif;

$font_yeseva_one: 'Yeseva One',
cursive;



.lead-diary {
    position: relative;
    margin-top: 177px;
    @media screen and (min-width: 1280px){
        .box-lead-diary.max-width {
            margin-top: 0px;
            max-width: 100%;
            margin-left: calc((100% - 1239px) / 2);
        }
    }

    .title-section.d-flex {
        align-items: center;
        position: static;
        margin-left: 160px;
    }


    .title-links.d-flex {
        justify-content: space-around;
        align-items: center;

        .back-num {
            font-size: 250px;
            color: #cdcdcd;
            font-family: sans-serif;
            margin-left: auto;
        }

        .lead-diary-links {

            a {
                display: block;
                text-transform: uppercase;
                cursor: pointer;
                margin-bottom: 15px;
                font-size: 15px;
                font-family: $font_open_sans;
                line-height: 160.86%;
                color: #727272;
                transition: 0.2s;

                &.active {
                    color: $primary_color;
                }

                &:hover {
                    color: $primary_color;
                    transition: 0.2s;
                }
            }

        }
    }

    .title-section {
        margin-top: 25px;


        .num {
            width: 80px;
            height: 30px;
            line-height: 30px;
            background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
            font-family: $font_yeseva_one;
            color: #fff;
            font-size: 20px;
            position: relative;
            padding: 5px;

        }

        h2 {
            font-size: 45px;
            font-weight: normal;
            font-family: $font_yeseva_one;
            margin-left: 25px;

            text-transform: uppercase;
        }
    }


    .bookmarks {
        margin-top: 150px;
        margin-right: 51px;
        position: absolute;
        z-index: 2;


        ul {
            display: block;
            padding: 5px 0;
            margin: auto;

            .owl-dot {
                display: none;
            }

            li {
                display: block;
                text-transform: uppercase;
                cursor: pointer;
                margin-bottom: 15px;
                font-size: 15px;
                font-family: $font_open_sans;
                line-height: 160.86%;


                &.active {
                    color: $primary_color;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 5000px;
                        left: -5015px;
                        height: 1px;
                        background-color: $primary_color;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }


                }
            }
        }
    }

    .leadDiaryCarousel {
		margin-left: 120px;
		margin-right: -20%;
        .no-filter-img {
		}
		/*.owl-item.active:first-of-type .posts {
			filter: grayscale(0%) !important;
			box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.15);
        	border-radius: 5px;
		}*/
		.--hidden {
			opacity: 0;
			transition: .5s;			
        }
        
        .posts {
            display: block;
            color: #000;
			filter: grayscale(100%);
			padding-top: 30px;
			transition: .5s;
            img {
                object-fit: cover;
            }

            .text {
				padding: 35px 100px 40px 50px;
				padding: 6% 18% 7.2% 10%;
                background-color: #fff;
                font-family: $font_roboto;

                a {
                    color: #000;
                    font-size: 15px;
                    transition: 0.2s;

                }

                h2 {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-bottom: 10px;
                    line-height: 160.86%;
                }

                p {
                    line-height: 120%;
                    font-size: 15px;
                    font-family: $font_open_sans;
                }
            }

        }



        .owl-item {
            margin: 15px 0px;
            transition: 0.2s;
        }

        .owl-stage {
            padding-left: 10px;
        }
        .owl-stage-outer {
            overflow: visible !important;
        }



    }

    /* .filter-img {
        filter: grayscale(0%)!important;
    }*/

    .owl-item-active .posts {
		filter: grayscale(0);		
        box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }


    .owl-nav {
        position: relative;
        display: inline-block;
        float: right;
        margin-right: 150px;



        .owl-prev {
            margin-right: 50px;
        }

        .owl-prev,
        .owl-next {
            width: 50px;
            height: 50px;
        }

        .owl-prev span,
        .owl-next span {
            width: 25px;
            height: 1.5px;
            background-color: $primary_color;
            display: block;
            position: relative;
        }

        .owl-prev.disabled,
        .owl-next.disabled {
            span {
                background-color: #999;

                &:before {
                    background-color: #999;
                }

                &:after {
                    background-color: #999;
                }
            }
        }

        .owl-prev span {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                width: 12.5px;
                height: 1.5px;
                background-color: $primary_color;
                transform: rotate(35deg);
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: -4px;
                width: 12.5px;
                height: 1.5px;
                background-color: $primary_color;
                transform: rotate(-35deg);
            }
        }

        .owl-next span {
            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 4px;
                width: 12.5px;
                height: 1.5px;
                background-color: $primary_color;
                transform: rotate(-35deg);
            }

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: -4px;
                width: 12.5px;
                height: 1.5px;
                background-color: $primary_color;
                transform: rotate(35deg);
            }
        }


    }

    .all-blogs {
        position: relative;
        /* left: 16%;
		 transform: translate(-50%, -95%); 
		transform: translate(0, -60%);*/
        display: inline-block;
        z-index: 9;
		left: 130px;
        a {
            text-transform: uppercase;
            text-align: center;
            display: inline-block;
            color: #000;
            font-size: 13px;
            line-height: 120%;
            border: 1px solid $primary_color;
            font-family: $font_open_sans;
            border-radius: 6px;
            padding: 15px 38px;
            transition: 0.4s;
            font-weight: bold;
            box-shadow: 0px;
            background: none;

            &:hover {
                background: linear-gradient(35.73deg, #FFD092 23.19%, #FDC788 42.64%, #FBC076 54.2%, #F4BD73 82.59%, #F0BC7B 108.35%);
                color: #1E1E1E;
                transition: 0.4s;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
                border-color: transparent;
            }
        }
    }

}

@media (min-width: 1921px) {
    .lead-diary .title-section.d-flex {
        left: 23%;
    }
}

.lead-diary {

    @media (max-width: 767px) {
        margin-top: 110px;
        
        .title-links.d-flex .back-num {
            display: none;
        }

        .box-lead-diary.max-width {
            padding: 0 0 0 30px;
        }



        .owl-carousel {
            display: block;
            margin: 50px 0;

            .item {
                display: none;
                border-radius: 5px;
                box-shadow: 0 0 10px #999;
                padding: 0px;

                img {
                    filter: grayscale(0%);
                    width: 100%;
                    height: 146px;
                }
            }

            .item:first-child {
                display: block;
                z-index: 9;
                position: relative;
                z-index: 1;

                .text p {
                    display: none;
                }
            }

            .item:nth-child(2) {
                display: block;
                z-index: 0;
                margin-top: -100px;
                opacity: 0.5;

                img {}

                .text p {
                    display: none;
                }
            }
        }
        
        .leadDiaryCarousel .posts .text a {
            font-size: 12px;
        }

        .all-blogs {
            transform: translate(0);
            width: 88%;
            left: 0;

            a {
                display: block;
            }
        }

        .title-section.d-flex {
            position: relative;
            left: 0;
            margin-left: 0;
        }

        .bookmarks {
            display: none;
        }

        .title-section {
            .num {
                width: 25%;
                padding-left: 35px;
            }

            h2 {
                font-size: 25px;
                margin-right: 14px;
            }
        }

    }
    
    @media (min-width: 1238px) and (max-width: 1400px) {
        .title-section.d-flex {
            left: 12.5%;
        }
        
        
    }
    
    @media (min-width: 992px) and (max-width: 1238px) {
        .title-section.d-flex {
            left: 8.5%;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .title-links.d-flex .back-num {
            display: none;
        }

        .title-links.d-flex {
            justify-content: flex-start;
        }

        .box-lead-diary.max-width {
            padding: 0 0 0 30px;
        }



        .all-blogs {
            transform: translate(0);
            width: 50%;
            left: 0;

            a {
                display: block;
            }
        }

        .title-links.d-flex {
            padding-top: 50px;
        }

        .title-section.d-flex {
            position: relative;
            left: 0;
        }

        .bookmarks {
            display: none;
        }

        .title-section {
            .num {
                width: 35%;
                padding-left: 35px;
            }

            h2 {
                font-size: 25px;
            }
        }

    }
}

.lead-diary {
  position: relative;
  margin-top: 177px;

  /* .filter-img {
        filter: grayscale(0%)!important;
    }*/ }
    .lead-diary-carousel {
        position: relative;
    }
  .lead-diary .title-links.d-flex {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .lead-diary .title-links.d-flex .back-num {
      font-size: 250px;
      color: #cdcdcd;
      font-family: sans-serif;
      margin-left: auto; }
    .lead-diary .title-links.d-flex .lead-diary-links a {
      display: block;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 15px;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      line-height: 160.86%;
      color: #727272;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .lead-diary .title-links.d-flex .lead-diary-links a.active {
        color: #E3AE67; }
      .lead-diary .title-links.d-flex .lead-diary-links a:hover {
        color: #E3AE67;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
  .lead-diary .title-section {
    margin-top: 25px; }
    .lead-diary .title-section .num {
      width: 80px;
      height: 30px;
      line-height: 30px;
      background: -webkit-gradient(linear, left bottom, left top, from(#E3AE67), to(#E3AE67)), -webkit-gradient(linear, left bottom, left top, from(#787878), to(#787878));
      background: linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
      font-family: "Yeseva One", cursive;
      color: #fff;
      font-size: 20px;
      position: relative;
      padding: 5px; }
    .lead-diary .title-section h2 {
      font-size: 45px;
      font-weight: normal;
      font-family: "Yeseva One", cursive;
      margin-left: 25px;
      text-transform: uppercase; }
  .lead-diary .bookmarks {
    margin-top: 150px;
    position: absolute;
    margin-right: 51px; }
    .lead-diary .bookmarks ul {
      display: block;
      padding: 5px 0;
      margin: auto; }
      .lead-diary .bookmarks ul .owl-dot {
        display: none; }
      .lead-diary .bookmarks ul li {
        display: block;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        line-height: 160.86%; }
        .lead-diary .bookmarks ul li.active {
          color: #E3AE67;
          position: relative;
          z-index: 2; }
          .lead-diary .bookmarks ul li.active:before {
            content: '';
            position: absolute;
            width: 5000px;
            left: -5015px;
            height: 1px;
            background-color: #E3AE67;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%); }
  .lead-diary .leadDiaryCarousel .no-filter-img {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important; }
    .lead-diary .leadDiaryCarousel .posts img {
      -o-object-fit: cover;
      object-fit: cover; }
      .lead-diary .leadDiaryCarousel .posts .text a {
        color: #000;
        font-size: 15px;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
      .lead-diary .leadDiaryCarousel .posts .text h2 {
        margin-bottom: 10px;
        line-height: 160.86%; }
      .lead-diary .leadDiaryCarousel .posts .text p {
        line-height: 120%; }
  .lead-diary .leadDiaryCarousel .owl-item {
    margin: 15px 0px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .lead-diary .leadDiaryCarousel .owl-stage {
    padding-left: 10px; }
  .lead-diary .owl-item-active {
    -webkit-box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 57px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .lead-diary .owl-nav {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 150px; }
    .lead-diary .owl-nav .owl-prev {
      margin-right: 50px; }
    .lead-diary .owl-nav .owl-prev,
    .lead-diary .owl-nav .owl-next {
      width: 50px;
      height: 50px; }
    .lead-diary .owl-nav .owl-prev span,
    .lead-diary .owl-nav .owl-next span {
      width: 25px;
      height: 1.5px;
      background-color: #E3AE67;
      display: block;
      position: relative; }
    .lead-diary .owl-nav .owl-prev.disabled span,
    .lead-diary .owl-nav .owl-next.disabled span {
      background-color: #999; }
      .lead-diary .owl-nav .owl-prev.disabled span:before,
      .lead-diary .owl-nav .owl-next.disabled span:before {
        background-color: #999; }
      .lead-diary .owl-nav .owl-prev.disabled span:after,
      .lead-diary .owl-nav .owl-next.disabled span:after {
        background-color: #999; }
    .lead-diary .owl-nav .owl-prev span:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 12.5px;
      height: 1.5px;
      background-color: #E3AE67;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg); }
    .lead-diary .owl-nav .owl-prev span:after {
      content: '';
      position: absolute;
      left: 0;
      top: -4px;
      width: 12.5px;
      height: 1.5px;
      background-color: #E3AE67;
      -webkit-transform: rotate(-35deg);
      transform: rotate(-35deg); }
    .lead-diary .owl-nav .owl-next span:before {
      content: '';
      position: absolute;
      right: 0;
      top: 4px;
      width: 12.5px;
      height: 1.5px;
      background-color: #E3AE67;
      -webkit-transform: rotate(-35deg);
      transform: rotate(-35deg); }
    .lead-diary .owl-nav .owl-next span:after {
      content: '';
      position: absolute;
      right: 0;
      top: -4px;
      width: 12.5px;
      height: 1.5px;
      background-color: #E3AE67;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg); }
    .lead-diary .all-blogs a {
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      color: #000;
      font-size: 13px;
      line-height: 120%;
      border: 1px solid #E3AE67;
      font-family: "Open Sans", sans-serif;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      padding: 15px 38px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      font-weight: bold;
      -webkit-box-shadow: 0px;
      box-shadow: 0px;
      background: none; }
      .lead-diary .all-blogs a:hover {
        background: linear-gradient(35.73deg, #FFD092 23.19%, #FDC788 42.64%, #FBC076 54.2%, #F4BD73 82.59%, #F0BC7B 108.35%);
        color: #1E1E1E;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-color: transparent; }

@media (min-width: 1921px) {
  .lead-diary .title-section.d-flex {
    left: 23%; } }

@media (max-width: 767px) {
  .lead-diary {
    margin-top: 110px; }
    .lead-diary .title-links.d-flex .back-num {
      display: none; }
    .lead-diary .box-lead-diary.max-width {
      padding: 0 0 0 30px; }
    .lead-diary .owl-carousel {
      display: block;
      margin: 50px 0; }
      .lead-diary .owl-carousel .item {
        display: none;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 10px #999;
        box-shadow: 0 0 10px #999;
        padding: 0px; }
        .lead-diary .owl-carousel .item img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          width: 100%;
          height: 146px; }
      .lead-diary .owl-carousel .item:first-child {
        display: block;
        z-index: 9;
        position: relative;
        z-index: 1; }
        .lead-diary .owl-carousel .item:first-child .text p {
          display: none; }
      .lead-diary .owl-carousel .item:nth-child(2) {
        display: block;
        z-index: 0;
        margin-top: -100px;
        opacity: 0.5; }
        .lead-diary .owl-carousel .item:nth-child(2) .text p {
          display: none; }
    .lead-diary .leadDiaryCarousel .posts .text a {
      font-size: 12px; }
    .lead-diary .all-blogs {
      -webkit-transform: translate(0);
      transform: translate(0);
      width: 88%;
      left: 0; }
      .lead-diary .all-blogs a {
        display: block; }
    .lead-diary .title-section.d-flex {
      position: relative;
      left: 0; }
    .lead-diary .bookmarks {
      display: none; }
    .lead-diary .title-section .num {
      width: 25%;
      padding-left: 35px; }
    .lead-diary .title-section h2 {
      font-size: 25px;
      margin-right: 14px; } }

@media (min-width: 1238px) and (max-width: 1400px) {
  .lead-diary .title-section.d-flex {
    left: 12.5%; } }

@media (min-width: 992px) and (max-width: 1238px) {
  .lead-diary .title-section.d-flex {
    left: 8.5%; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .lead-diary .title-links.d-flex .back-num {
    display: none; }
  .lead-diary .title-links.d-flex {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
  .lead-diary .box-lead-diary.max-width {
    padding: 0 0 0 30px; }
  .lead-diary .all-blogs {
    -webkit-transform: translate(0);
    transform: translate(0);
    width: 50%;
    left: 0; }
    .lead-diary .all-blogs a {
      display: block; }
  .lead-diary .title-links.d-flex {
    padding-top: 50px; }
  .lead-diary .title-section.d-flex {
    position: relative;
    left: 0; }
  .lead-diary .bookmarks {
    display: none; }
  .lead-diary .title-section .num {
    width: 35%;
    padding-left: 35px; }
  .lead-diary .title-section h2 {
    font-size: 25px; } }