$primary_color: #E3AE67;

$font_open_sans: 'Open Sans',
sans-serif;

$font_yeseva_one: 'Yeseva One',
cursive;


.partners {
    padding-top: 152px;

    .max-width-2 {
        /*max-width: 485px;*/
        max-width: 540px;
        margin: auto;
        margin-top: 110px;
        position: relative;
        top: 25px;
    }

    .title-txt {
        margin-top: 40px;
        font-size: 15px;
        line-height: 120%;
        font-family: $font_open_sans;
        color: #343434;
    }

    .back-num {
        position: absolute;
    }

    .title-section {
        margin-top: 25px;

        .num {
            width: 80px;
            height: 30px;
            line-height: 30px;
            background:linear-gradient(0deg, #E3AE67, #E3AE67), linear-gradient(0deg, #787878, #787878);
            font-family: $font_yeseva_one;
            color: #fff;
            font-size: 20px;
            position: relative;
            padding: 5px;

        }

        h2 {
            font-size: 45px;
            font-weight: normal;
            font-family: $font_yeseva_one;
            margin-left: 25px;

            text-transform: uppercase;
        }
    }

    .pertners-logos {
        .d-flex {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .item {
            height: 90px;
            margin-bottom: 40px;
            text-align: center;
            flex-basis: 33%;
            display: flex;
            justify-content: center;
            a {
                display: block;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                height: 100%;
                width: auto;
                max-width: 100%;
                transition: .25s;
                &:hover {
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
                    transform: scale(1.05) translateY(-3px);
                }
            }

            img {
                max-width: none;
                height: 100%;
                width: auto;
                max-width: 100%;
                object-fit: contain;                
            }
        }
    }

}

@media (max-width: 767px) {
    .partners {
        position: relative;
        padding-top: 0;

        .title-section {
            &.d-flex {
                align-items: center;
            }

            .num {
                width: 25%;
                padding-left: 35px;
                margin: 0px;
            }

            h2 {
                font-size: 25px;
                margin-top: 0px;
                margin-left: 14px;
            }
        }

        .title-txt {
            display: none;
        }

        .pertners-logos .d-flex {
            justify-content: center
        }

        .pertners-logos .item {
            width: 35%;
        }


    }


}
