.example {
    margin: 0;
    height: 100%;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #212121;
}

html {
    width: 100%;
}

html {
    height: 100%;
}

.layer-1 {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.layer-3 {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.layer-2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-wrapper {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 60%;
    left: 32%;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.text {
    position: absolute;
    left: -370px;
    width: 100%;
    outline: none;
    transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.text:focus, .text.active {
    left: 110px;
}


.layer-3.active {
    opacity: 1 !important;
}

.example.active {
    opacity: 1;
}